# 05 User-defined data types

A data type has attributes and methods associated with it. User-defined data types  are created using the `class` syntax.

_An example_. Suppose we want to represent students, perhaps AIMS students, in Python. Each student will have specific attributes and methods to access these attributes. For example, each student will have a name, a country, a list of courses, etc. We'll use the `class` syntax to create the `Student` data type.

In [10]:
class Student:
    def __init__(self,n,s,c):
        self.name=n
        self.surname=s
        self.country=c

In [3]:
student1=Student()

In [11]:
student2=Student('Nouralden','Mohammed','Sudan')

In [13]:
student2.name

'Nouralden'

A `Student` has attributes. We use the method `__init__` to create attributes for an instance of the class, and set them to the values we have passed as arguments. So now we can set up the `Student` to have a name, a surname and a country of origin.

Note the explicit argument `self`. It is a self-referencing pointer which refers to the current class instance. 
In the __init__ method `self` refers to the newly created object.

In [17]:
print('{} {} is from {}'.format(student2.name,student2.surname,student2.country))

Nouralden Mohammed is from Sudan

Let's create a method that prints out the names and countries for all the objects of type `Student`.

In [24]:
class Student:
    skills_courses={'Python','Mathematical problem solving'}
    def __init__(self,n,s,c):
        self.name=n
        self.surname=s
        self.country=c
        
    def displayName(self):
        return '{0} {1} is from {2}'.format(self.name,self.surname,self.country)

In [25]:
student1=Student('Mathews','Mwansa','Zambia')
student2=Student('Samah','Osman','Sudan')
student2.displayName()

'Samah Osman is from Sudan'

Now suppose you want to add a list of skill courses to the class. Skills courses are the same for all the students. 

First, create the class variable or set of skills courses. We'll put some courses in there in the meantime.

In [26]:
student1.skills_courses

{'Mathematical problem solving', 'Python'}

Use the `@classmethod` decorator for a class method that modifies the class variable. We'll use a class method that refers to the class with `cls` instead of the class instance.

In [27]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

Now we want to add review courses to the `Student` data type. Note, skills courses are different for each student. We'll use a method that refers to the class instance.

In [63]:
  class Student:
    skills_courses={'Python','Mathematical problem solving'}
    def __init__(self,n,s,c):
        self.name=n
        self.surname=s
        self.country=c
        self.review_courses=set()
        
    def displayName(self):
        return '{0} {1} is from {2}'.format(self.name,self.surname,self.country)
    def addReviewCourse(self,crs):
        self.review_courses.add(crs)

In [64]:
student1=Student('Mathews','Mwansa','Zambia')
student2=Student('Samah','Osman','Sudan')

In [59]:
student1.addReviewCourse('A')

In [60]:
student1.addReviewCourse('B')

In [62]:
student1.review_courses

{'A', 'B'}

When defining a data type, there are some default attributes provided. Use `dir` to determine the default attributes and user-defined attributes and methods.

In [ ]:
#dir(Student)

## Exercise

_The exercise can be found on pages 86 and 87 of the Programming through Design Space book that is available online._

**Banking.** 
The purpose of this exercise is to design a data type to manage _a
single bank account_. The account is to be held in US dollars, $USD$,
but to function in the currencies of the AIMS centres,
$$Currency := \{GHS, RWF, TZS, XAF, XOF, ZAR \},$$ 
which may be assumed to satisfy:


![alt text](currencytable.png "Title")

The module is to support these operations, with balance in USD.

- $Clear (x , c)$. Set the account to 0 USD and output as x the previous balance converted to currency c : Currency.

- $Deposit (x , c)$ Deposit the amount x in nominated currency c :
Currency into the account (in USD).

- $Withdraw (x , c)$. Withdraw the amount x in nominated currency
c : Currency from the account provided the balance remains non-
negative; otherwise the transaction fails.

    (a). Specify those operations. What are their preconditions?
    
    (b). Implement a procedure to convert between c : Currency and USD, and conversely. What is the type of your procedure?
    
    (c). Implement (and test) each operation.

In [33]:
class Banking:
    Currency={'GHS':3.899,'RWF':804.320,'TZS':2139.200,'XAF':587.570,'XOF':587.570,'ZAR':13.437}
    def __init__(self):
        self.x=0
    def clear(self,x,c):
        self.x=0
        return (self.Currency[c]*x)
    def Deposit(self,c,s=0):
        self.x+=float(s)*float(self.Currency[c])
        return self.x
    def Withdraw(self,c,s=0):
        self.x-=float(s)*float(self.Currency[c])
        return self.x

In [34]:
Mathews=Banking()

In [27]:
Mathews.Deposit('ZAR',1000)

8610548.0

In [19]:
Mathews.clear(10,'TZS')

21392.0

In [39]:
Mathews.Deposit('TZS',10000000)

21372747200.0

In [29]:
Mathews.x

8610548.0

In [64]:
Mathews.Withdraw('TZS',1000000)

2085720000.0000002